@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');


.desc {
    color: #adb5bd;
    font-family: 'Kanit', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
}



.imgContainer {

    margin: 10px;
    position: relative;
    width: 80%;
    /* background-color: yellow; */

}

.imgContainer>img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.5rem;
    width: 100%;
}


.imgContainer>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    position: absolute;
    height: 40%;
    width: 30%;
    /* border: 2px solid black; */
    bottom: -10%;
    right: -10%;
    border-radius: 50%;

}

.img2 {
    height: 100%;
    width: 100%;
}


