@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit:ital,wght@0,500;0,600;1,800&display=swap');




.container{
    margin-top: 1rem;
    padding: 3rem 0.6rem !important;
    margin-bottom: 5rem;
}

.headerBlue{
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#3a86ff ;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
.headerBlack{
    /* text-transform: uppercase; */
    word-spacing: 3px;
    letter-spacing: 1px;
    color:#2b2d42 ;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'DM Serif Display', serif;
}

